@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao meu Sistema de Gerenciamento de Bibliotecas</h1>
    <p>Use os menus acima para navegar</p>
</div>
